{% if wo_breadcrumbs()|length %}
  <ul id="{{ listId }}" class="{{ listClass }}">
    {% for b in breadcrumbs %}
      {% if loop.last %}
        <li>{{ b.text | trans(b.translationParameters, translation_domain, locale) }}</li>
      {% else %}
        <li><a href="{{ b.url }}">{{ b.text | trans(b.translationParameters) }}</a> <span class="separator">{{ separator }}</span></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
