{% if wo_breadcrumbs()|length %}
  <ul id="{{ listId }}" class="{{ listClass }}">
    {% for b in breadcrumbs %}
      <li class="{{ itemClass }}">
        {% if b.url and not loop.last %}<a href="{{ b.url }}">{% endif %}
        {{ b.text | trans(b.translationParameters, translation_domain, locale) }}
        {% if b.url and not loop.last %}</a>{% endif %}

        {% if separator and not loop.last %}
          <span class='{{ separatorClass }}'>{{ separator }}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}
